@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --gray: rgba(0, 0, 0, 0.288);
    --very-pale-blue: hsl(207, 100%, 98%);
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.header__container{
    width: 90%;
    margin: 35px auto;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.encabezado__img{
    height: 25px;
}

.encabezado__button{
    color: var(--pink);
    border-radius: 50px;
    border: 1px solid var(--pink);
    padding: 8px 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.encabezado__button:hover{
    cursor: pointer;
    color: var(--light-pink);
    border: 1px solid var(--light-pink);
}

.info__container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8rem;
    margin-bottom: 8rem;
}

.info__h1{
    color: var(--very-dark-cyan);
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 35px;
}

.info__p{
    color: var(--very-dark-cyan);
    margin-bottom: 50px;
}

.info__button{
    background-color: var(--pink);
    color: #fff;
    border-radius: 50px;
    padding: 16px 0;
    width: 250px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.info__button:hover{
    cursor: pointer;
    background-color: var(--light-pink);
}

.info__img{
    width: 100%;
}

.data__container{
    display: flex;
    flex-direction: column;
    gap: 8rem;
    text-align: center;
    align-items: center;
}

.data__communities, .data__messages{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.data__span{
    font-size: 62px;
    font-weight: 700;
    color: var(--very-dark-cyan);
}

.data__p{
    color: var(--gray);
    margin: 0 auto;
}

/* MAIN */
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    max-width: 1440px;
    padding: 50px 35px 35px;
    margin-bottom: 35px;
    border-radius: 10px;
    background-color: #fff;
}

._img{
    width: 100%;
    margin-bottom: 50px;
}

._h2{
    color:hsl(192, 100%, 9%);
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

._p{
    color: hsl(208, 11%, 55%);
    text-align: center;
    font-size: 14px;
}

.ready{
    width: 100%;
    padding: 50px 15px 0;

    position: relative;
    padding-bottom: 210px;
    margin-bottom: 0;
}

.wave{
    position: absolute;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100px;
}

.wave__bottom{
    left: 0;
    bottom: 0;
    background-image: url('./images/bg-footer-top-mobile.svg');
}

.ready__h2{
    font-size: 24px;
}

.ready__button{
    font-size: 11px;
}

.ready__button:hover{
    cursor: pointer;
    background-color: rgb(255, 82, 191,75%);
}

footer{
    position: relative;
    background-color: var(--very-dark-cyan);

    padding-top: 125px;
}

.footer__container, .footer__social{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
}

.footer__logo{
    height: 24px;
}

.footer__container{
    gap: 4rem;
}

.footer__h2{
    color: #fff;
    margin-bottom: 15px;
}

.footer__p{
    color:#fff;
    font-size: 15px;
    margin-bottom: 15px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form input{
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.footer__button{
    width: 50%;
    color: #fff;
    background-color: var(--pink);
    height: 30px;
    border: none;
    border-radius: 5px;
}

.footer__button:hover{
    cursor: pointer;
    background-color: var(--light-pink);
}

.footer__logo{
    margin-bottom: 15px;
}

.contact__phone, .contact__email{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    color: #fff;
}

.contact__phone{
    margin-top: 35px;
}

.contact__icon{
    margin-right: 25px;
}

.footer__social{
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 25px;
}

.footer__social i{
    display: flex;
    color: #fff;
    font-size: 24px;
    border-radius: 5px;
    padding: 3px;
}

.footer__social i:hover{
    cursor: pointer;
    background-color: hsl(192, 56%, 52%);
    color: var(--very-dark-cyan);
}


@media screen and (min-width:768px) {
    
    .info__h1{
        font-size: 32px;
        margin-bottom: 40px;
    }
    
    .info__img{
        width: 90%;
        margin: 0 auto;
    }
    
    .data__container{
        flex-direction: row;
        justify-content: center;
    }

    /* MAIN */
    
    .card{
        flex-direction: row-reverse;
        width: 95%;
    }

    .conversation{
        flex-direction: row;
        justify-content: space-between;
        gap: 12%;
    }
    
    ._img{
        width: 40%;
    }
    
    .card__info{
        width: 41%;
        margin: 0 auto;
        margin-left: 0;
    }
    
    .conversation__info{
        margin: 0;
    }
    ._h2{
        font-size: 28px;
        text-align: start;
    }

    ._p{
        text-align: start;
        font-size: 17px;
    }
    
    .ready{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .ready__h2{
        font-size: 24px;
        text-align: center;
    }

    /* FOOTER */

    .footer__container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .footer__left, .footer__right{
        max-width: 350px;
    }

    .contact__phone{
        margin-top: 15px;
    }

    .footer__social{
        margin-top: 25px;
    }

    .footer__social i{
        font-size: 28px;
    }

}

@media screen and (min-width:1024px) {
    .encabezado__img{
        height: 30px;
    }

    .info__h1{
        font-size: 36px;
    }

    .info__p{
        width: 500px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .info__button{
        width: 275px;
        padding: 20px 0;
    }

    .info__img{
        width: 85%;
    }

    .data__container{
        display: flex;
        justify-content: space-evenly;
        width: 700px;
        margin: 0 auto;
    }

    .ready{
        width: 100%;
        max-width: inherit;
    }

    .wave__bottom{
        background-image: url('./images/bg-footer-top-desktop.svg');
    }

    .footer__container{
        justify-content: space-between;
    }

    .footer__left{
        max-width: 50%;
    }

    .footer__left .footer__p{
        width: 350px;
    }

    .footer__logo{
        height: 30px;
    }

    .footer__social i{
        font-size: 32px;
    }
}

@media screen and (min-width:1440px) {
    .header__container{
        margin: 75px auto;
    }

    .encabezado__img{
        height: 40px;
    }

    .encabezado__button{
        width: 125px;
        font-size: 16px;
    }

    .info{
        margin-top: 50px;
    }

    .info__h1{
        font-size: 48px;
    }

    .info__p{
        width: 678px;
        font-size: 21px;
        font-weight: 600;
    }

    .info__button{
        width: 375px;
        font-size: 20px;
        padding: 25px 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .data__container{
        width: auto;
    }

    .data__span{
        font-size: 100px;
    }

    .data__p{
        font-size: 24px;
    }

    .card{
        width: 85%;
        max-width: 1440px;
    }

    .card__info{
        width: 44%;
    }

    .conversation{
        gap: 11%;
    }

    ._img{
        width: 45%;
    }

    ._h2{
        font-size: 42px;
    }

    ._p{
        font-size: 15px;
        font-weight: 600;
    }

    .footer__left{
        width: 50%;
    }

    form{
        margin-top: 45px;
        flex-direction: row;
        gap: 2rem;
    }

    form input{
        height: 40px;
        width: 55%;
        margin-bottom: 0;
    }

    .footer__button{
        width: 25%;
        height: 40px;
        font-size: 16px;
        font-weight: 600;
    }

    .footer__right{
        width: 350px;
    }

}

.attribution { font-size: 11px; text-align: center; color: #fff; padding-bottom: 15px;}
.attribution a { color: hsl(228, 45%, 44%); }